<nav class="navbar navbar-light navbar-toggleable-md">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Navbar</a>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                {% for item in menu.items %}
                    {% include 'bootstrap/navbar/item.twig' %}
                {% endfor %}
            </ul>
        </div>

    </div>
</nav>
